---
import Model3Section from "../components/Model3Section.astro";
import PrincipalSection from "../components/PrincipalSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import ModelXSection from "../components/ModelXSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
import ModelSSection from "../components/ModelSSection.astro";
import SolarPanels from "../components/solarPanels.astro";
import SolarRoof from "../components/solarRoof.astro";
import Powerwall from "../components/Powerwall.astro";
import Accesories from "../components/Accesories.astro";
---

<Layout title="Tesla el coche de tus sueños">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div id="principalSection" class="snap-center">
			<PrincipalSection />
		</div>
		<div id="modelSSection" class="snap-center">
			<ModelSSection />
		</div>
		<div id="model3Section" class="snap-center">
			<Model3Section />
		</div>
		<div id="modelXSection" class="snap-center">
			<ModelXSection />
		</div>	
		<div id="modelYSection" class="snap-center">
			<ModelYSection />
		</div>	
		<div id="solarRoof" class="snap-center">
			<SolarRoof />
		</div>	
		<div id="solarPanels" class="snap-center">
			<SolarPanels />
		</div>	
		<div id="powerWall" class="snap-center">
			<Powerwall />
		</div>	
		<div id="accesories" class="snap-center">
			<Accesories />
		</div>									
	</main>
</Layout>

