---
import Model3Section from "../components/Model3Section.astro";
import PrincipalSection from "../components/PrincipalSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import ModelXSection from "../components/ModelXSection.astro";
import ModelYSection from "../components/ModelYSection.astro";
import ModelSSection from "../components/ModelSSection.astro";
---

<Layout title="Tesla el coche de tus sueños">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<PrincipalSection />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<Model3Section />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>	
		<div class="snap-center">
			<ModelYSection />
		</div>					
	</main>
</Layout>
