---
import Section from "./Section.astro";
---

<Section
    title="Accesories"
    color="black"
>
    <div slot="footer" class="flex justify-center mx-auto">
        <a
            class="opacity-2 text-sm rounded font-medium bg-black text-white px-12 py-2 inline-block transition-colors hover:bg-gray-500 hover:border-gray-500"
            href="#">Shop Now</a
        >     
        
        
    </div>
    <div slot="footer-two" class="flex justify-center mx-auto">
        <div class="w-screen flex justify-center [&>p]:p-2 [&>p]:text-gray-500 [&>p]:text-xs [&>p]:cursor-pointer">
            <p>Tesla © 2023</p>
            <p>Privacy & legal</p>
            <p>Vehicle Recalls</p>
            <p>Contact</p>
            <p>News</p>
            <p>Get Updates</p>
            <p>Locations</p>
        </div>
    </div>
    <img
        slot="background"
        class="h-full w-full object-center object-cover"
        alt="Solar Panels"
        src="/accesories.avif"
    />
</Section>
