---
import Section from "./Section.astro";
---

<Section
    title="Model Y"
    subtitle="Starting at $40,240"
    subtitleTwo="After Federal Tax Credit"
    color="black"
>
    <div slot="footer" class="flex gap-x-6 mx-auto">
        <a
            class="opacity-2 text-sm rounded font-medium bg-gray-600 text-white px-12 py-2 inline-block transition-colors hover:bg-gray-500 hover:border-gray-500"
            href="#">Custom Order</a
        >
        <a
            class="opacity-2 text-sm rounded font-medium text-black bg-white px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
            href="#">Demo Drive</a
        >
    </div>
    <img
        slot="background"
        class="h-full w-full object-center object-cover"
        alt="Model Y"
        src="/model-y.avif"
    />
</Section>
